@use 'base/variables' as v;
@use 'base/mixins' as m;

@media (prefers-color-scheme: dark){
    $grisOscuro: #2c2c3b;
    body {
        background-color: $grisOscuro;
    }
    .tagline, 
    .formulario label {
        color: v.$blanco;
    }
    .descripcion-pagina,
    .formulario .campo input,
    .login .acciones a,
    .crear .acciones a,
    .olvide .acciones a,
    .reestablecer .acciones a,
    .nombre-pagina
    {
        color: darken(v.$grisClaro,15%);
    }
    .formulario .campo input
    {
        background-color: lighten($grisOscuro, 15%);
        border: none;
        color: v.$blanco;
        &::placeholder{
            color: darken(v.$grisClaro, 30%);
        }
    }
    .alerta.error{
        background-color: lighten(v.$rojo, 60%);
    }
    .alerta.exito{
        background-color: lighten(v.$verde, 60%);
    }
    // .barra-mobile{
    //     background-color: darken($grisOscuro,7%);
    // }
    // .sidebar{
    //     @include m.tablet {
    //         background-color: darken($grisOscuro, 5%);
    //     }
    //     .sidebar-nav a{
    //         &.activo,
    //         &:hover {
    //             background-color: v.$naranja;
    //         }
    //     }
    // }
    .formulario.nueva-tarea{
        background-color: $grisOscuro;
        legend,label {
            color: darken(v.$grisClaro,15%);
        }
    }
    .filtros{
        background-color: lighten($grisOscuro, 10%);
        h2, 
        label{
            color: darken(v.$grisClaro,15%);
        }
        input[type="radio"]{
            accent-color: v.$naranja;
        }
    }
    .dashboard{
        background-color: $grisOscuro;
    }
    .barra{
        background-color: lighten($grisOscuro, 10%);
        p{
            color: darken(v.$grisClaro,15%);
        }
        p span{
            color: darken(v.$grisClaro,15%);
        }
    }
    .listado-tareas .tarea {
        background-color: lighten($grisOscuro, 10%);
        border: none;

        p{
            color: darken(v.$grisClaro,15%);
        }
    }

    .login{
        .uptask{
            @include m.textoDegradadoDark(v.$cyan, v.$morado);
        }
        input[type="submit"]{
            @include m.boton(v.$azul, v.$blanco);
        }
    }
    .crear{
        .uptask{
            @include m.textoDegradadoDark(v.$azul, v.$morado);
        }
        input[type="submit"]{
            @include m.boton(lighten(v.$moradoM, 5%), v.$blanco);
        }
    }
    .olvide{
        .uptask{
            @include m.textoDegradadoDark(v.$rosa, v.$azul);
        }
        input[type="submit"]{
            @include m.boton(lighten(v.$moradoM, 20%), v.$blanco);
        }
    }
    .mensaje{
        .uptask{
            @include m.textoDegradadoDark(v.$naranja, v.$morado);
        }
        .descripcion-pagina{
        background-color: #71614c;
        border-left: .6rem solid v.$naranja;
        border-right: .6rem solid v.$naranja;
        border-radius: .8rem;
        color: v.$grisClaro;
        font-weight: 700;
        }
    }
    .confirmar{
        .uptask{
            @include m.textoDegradadoDark(v.$verde, v.$azul);
        }
        .acciones a{
            background: linear-gradient(to right, v.$verde 0%, lighten(v.$azulM,10%) 100%);
            color: v.$blanco;
            font-weight: 800;
            border-radius: 1.2rem;
            padding: 1.5rem 4rem;
        }
    }
    .reestablecer{
    .uptask{
        @include m.textoDegradadoDark(v.$verdeM, v.$gris);
    }
    input[type="submit"]{
        @include m.boton(#20611b, v.$blanco);
    }
    }
}