// Fuentes
$fuente_headings: 'Inter', sans-serif;
$fuente_textos: 'Open Sans', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$cyan: #0891B2;
$azul: #2563EB;
$azulM: #0b1853f7;
$verdeM:#0b3f67;
$indigo: #4338CA;
$morado: #7C3AED;
$moradoM: #3a19f5;
$naranja:#F59E0B;
$rosa: #DB2777;

$blanco: #FFFFFF;
$gris: #6b7280;
$grisOscuro: #4B5563;
$negro: #000;

$rojo: rgb(169, 0, 0);
$verde: rgb(0, 120, 0);

$separacion: 5rem;