@use 'base/variables' as v;
@use 'base/mixins' as m;

.mensaje{
    margin-top: 5rem;
    .uptask{
        @include m.textoDegradado(v.$naranja, v.$morado);
    }
    .descripcion-pagina{
        background-color: lighten( v.$naranja, 35%);
        border-left: .6rem solid v.$naranja;
        border-right: .6rem solid v.$naranja;
        border-radius: .8rem;
        color: v.$negro;
        font-weight: 900;
    }
}
