@use 'base/variables' as v;
@use 'base/mixins' as m;

.reestablecer{
    margin-top: 5rem;
    .uptask{
        @include m.textoDegradado(v.$cyan, v.$azul);
    }

    input[type="submit"]{
        @include m.boton(v.$verdeM, v.$blanco);
    }
    .acciones{
        a{
            color: v.$verdeM;
            font-weight: 700;
        }
    }
}
