@use 'base/variables' as v;
@use 'base/mixins' as m;

.modal{
    //position: absolute;// Se superpone sobre todo el contenido la pantalla
    position: fixed;
    background-color: rgb(0 0 0 / .8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .formulario{
        max-width: 60rem;
        background-color: v.$blanco;
        padding: 2rem;
        margin: 0 auto;
        transform: translateY(-30rem);
        transition-property: all;
        transition-duration: 700ms;
        transition-timing-function: ease-in-out;
        opacity: 0;
        border-radius: .8rem;
        //box-shadow: 1px 12px 12px -12px rgba(255, 255, 255, 0.934);

        label{
            font-weight: bold;
            flex: 0 0 6rem;
        }

        legend{
            font-size: 2rem;
            text-align: center;
            font-weight: bold;
            margin-bottom: 2rem;
            display: block;
        }
        input[type="text"]{
        border: 1px solid v.$gris;
        }
        .opciones{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
        }
        .submit-nueva-tarea{
            @include m.boton(v.$indigo, v.$blanco);
            width: max-content !important;
        }
        .cerrar-modal{
            @include m.boton(v.$naranja, v.$blanco);
            width: max-content !important;
        }

        &.animar{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            opacity: 1;
        }
        &.cerrar{
            transform: translateY(-200%);
            opacity: 0;
        }
    }
}