@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar{
    background-color: v.$azulM;
    padding: 2rem;
    h2{
        color: v.$blanco;
        margin: 0;
        text-align: center;
    }
    .sidebar-nav{
        margin-top: 5rem;

        a{
            color: v.$blanco;
            display: block;
            margin-bottom: 2rem;
            padding: .7rem;
            border-radius: .5rem;
            transition-property: background-color;
            transition-duration: 300ms;
            text-transform: uppercase;

            &:hover,
            &.activo {
                background-color: lighten(v.$azulM, 20%);
                font-size: 1.7rem;
                font-weight: 700;
            }
        }
        
    }
}